

.input-container-contrato {
  flex-basis: calc(100% / 2);
  display: flex;
  justify-content:baseline;
  padding: 15px;
}
.div-page-contrato{
  margin: 100px 50px 50px 350px;
  
  

}
.div-contenedor-contrato {
  background-color: rgb(249, 248, 248);
  padding: 5%;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #0C3255;
  border-left: 5px solid #0C3255;
  border-right: 5px solid #0C3255;
  margin-left: 1px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: -5px;
  
}
.div-general-contrato{
  background-color: rgb(226, 233, 241);
}
.divisor-contrato{
  
  flex-basis: calc(100% / 2);
    display: flex;
    justify-content:center;
    padding: 20px;  
    margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.title-container-contrato {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  
}

.title-line-contrato {
  flex-grow: 1;
  height: 4px;
  background-color: #0C3255;
}

.page-title-contrato {
  margin: 0 15px;
}

.form-rows-contrato {
  column-count: 3;
  column-gap: 20px;

}

.small-input-contrato {
  width: 390px;
  border-radius: 10px;
}
.anios-contrato{
  width: 310px;
  border-radius: 60px;
  
}

.form-rows-contrato label {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 16px;
}

.div-ingreso-contrato{
  position: relative;
  left: -140px;

}


.div-pdf-contrato{
  position: relative;
  left: 160px;
  padding: 11%;
}

.div-button-contrato{
display: flex;
  
}

.button-contrato{
  width: 70px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

}

.table-container-contrato {
  margin-top: 40px;
  
}

.data-table-contrato {
  width: 100%;
  border-collapse: separate;
}

.data-table-contrato th {
  background-color: #0C3255;
  color: aliceblue;
  text-align: left;
  padding: 8px;
}

.data-table-contrato td {
  color: #0C3255;
  padding: 8px;
}

.data-table-contrato tr {
  background-color: #c1cff7;
}
.div-tabla-contrato{
  position: absolute;
  left: 100px;
}
.dividir-botons-final-contrato{
  column-count: 2;
  column-gap: 20px;
}
.button-circular-contrato{
  width: 70px;
  height: 40px;
  border-radius: 90%; 
  color: #ff9800;

}

.field:has(input:required) label:after{
  content: "  *";
  color: red;
} 