.small-input-habilidad{
    width: 400px;
    padding: 30%;
    left: 6cm;
    
  }
.div-page-habilidad{
  padding: 2%;
}
.title-container-habilidad{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    
  }
.title-line-habilidad {
    flex-grow: 1;
    height: 10px;
    background-color: #000;
  }
  
.page-title-habilidad {
    margin: 0 16px;
  }  

  .small-button-habilidad{
    width: calc(22% - 30px);
    margin-right: 10px;
    border-radius: 30px;
    
  }
 
.div-contenedor-habilidad {
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  border: 2px solid black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  
}
.div-generar-habilidad{
  background-color: rgb(219, 224, 234);
}

.contenedor-habilidad{
  margin-right: px;
  padding: 3%;
}

.div-table-habilidad{
  position: relative;
  left: 430px;
  margin-right: 100px;
  border-radius: 40px;
}

.div-ingreso-habilidad{
  position: relative;
  left: 50px;
}

.div-botons-habilidad{
  position: relative;
  left: 35px;
  position: static; 
}

.table-container-habilidad {
  margin-top: 80px;
  margin-right: 30%;
  border-radius: 30%;
  align-items: center;
}

.data-table-habilidad {
  width: 60%;
  border-collapse: collapse;
}

.div-button-habilidad{
  position: relative;
  bottom: 10px;  
  left: 720px;
  width: calc(80% - 10px);
  border-radius: 20px;
}

.button-habilidad{
    
  width: calc(20% - 25px);
  margin-right: 30px;
  border-radius: 40px;
  align-items: end;
  
  
  
}
.data-table-habilidad th {
  background-color: #d5d2d2;
  text-align: left;
  padding: 5px;
  margin-right: 800px;
}

.data-table-habilidad td {
  background-color: #fffefe;
  padding: 8px;
}

.data-table-habilidad tr:nth-child(even) {
  background-color: #a9a4a4;
}

