
  .input-container-horario {
    flex-basis: calc(100% / 2);
    display: flex;
    justify-content: baseline;
    padding: 15px;

    
  }
  .div-page-horario{
    margin: 100px 50px 50px 350px;
  }
  .div-contenedor-horario {
    background-color: rgb(249, 248, 248);
    padding: 5%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #0C3255;
  border-left: 5px solid #0C3255;
  border-right: 5px solid #0C3255;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: -5px;
    
  }

  .contenedor-horario{
 
  flex-basis: calc(100% / 2);
  display: flex;
  justify-content:center;
  padding: 20px;
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 50px;
  
  }


.title-container-horario {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  
}

.title-line-horario {
  flex-grow: 1;
  height: 4px;
  background-color: #0C3255;
}

.page-title-horario {
  margin: 0 16px;
}


.form-rows-horario {
  
  column-count: 3;
  column-gap: 20px;
}

.small-input-horario {
  width: 290px;
  border-radius: 20px;
  
  
}
.small-input-horas-horario {
  width: 200px;
  border-radius: 20px;
  
}

.form-rows-horario label {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.form-row-buttons-horario {
  display: contents;
  justify-content: flex-end;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  
}
.div-general-horario{
  background-color: rgb(226, 233, 241);
}

.button-horario{
  width: 70px;
  height: 50px;
  border-radius: 50%;
  background-color: #e0e0e0;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
  
}

.table-container-horario {
  margin-top: 40px;
}

.data-table-horario {
  width: 100%;
  border-collapse: separate;
}

.data-table-horario th {
  background-color: #0C3255;
  color:aliceblue;
  text-align: left;
  padding: 8px;
}

.data-table-horario td {
  color: #0C3255;
  padding: 8px;
}

.data-table-horario tr  {
  background-color: #c1cff7;
}

.div-button-horario{
  display: flex;
}

.div-ingreso-horario{
  position: relative;
  left: -140px;

}

.div-tabla-horario{
  position: absolute;
  left: 100px;
}
.button-circular-horario{
  width: 70px;
  height: 40px;
  border-radius: 90%; 
  color: #ff9800;
  ;
  

}
.dividir-botons-final-horario{
  column-count: 2;
  column-gap: 10px;
  position: relative;
  
}
.fieldH:has(input:required) label:after{
  content: "  *";
  color: red;
} 

