.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  
}

.form-title {
  margin: 0 16px;
}

.title-container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.title-line {
  flex-grow: 1;
  height: 10px;
  background-color: #000;
}

.page-title {
  margin-bottom: -25px;
  margin-top: -5px;
}
.totalcontainer{
  display: flex;
  justify-content: end;
  margin-bottom: 120px
  
}

.centered-form {
  background-color: white;
  border: 2px solid #0C3255;
  border-left: 8px solid  #0C3255;
  border-right: 8px solid  #0C3255;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  height: 100vh;
  padding: 40px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -100px;
  border-radius: 15px;
  width: auto;
}
.icono_insti {
	
	width: 70px;
	height: 50px;
	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png") center/cover no-repeat;
	background-size: cover; 
  margin-bottom: 5px;
}

.form {
  width: 100%;
  max-width: 800px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.small-input {
  width: 250px;
  border-radius: 20px;
  
}

.form-row label {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.form-row-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
  justify-content: space-between;
  margin-left: 90px;
  margin-right: 90px;
  
}

.small-button {
  width: calc(40% - 10px);
  margin-right: 10px;
  border-radius: 30px;
}

.table-container {
  margin-top: 50px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table th {
  background-color: #f0f0f0;
  text-align: left;
  padding: 8px;
}

.data-table td {
  padding: 8px;
}

.data-table tr:nth-child(even) {
  background-color: #ffffff;
}

.additional-button {
  position: absolute;
  bottom: -100px;  
  left: 390px;
  width: calc(80% - 10px);
  border-radius: 20px;
}